/** @format */
.bg-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &.auth-img {
    background-color: $secondary-color;
  }
}
.page-auth {
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  min-height: 100vh;
  .goback {
    color: $light-color;
    &:hover {
      color: $light-color;
    }
  }

  .auth-wrap {
    max-width: 800px;
    margin: 0 auto;
    min-height: 450px;
    width: 100%;
    display: flex;
    box-shadow: 0 0 10px rgba($dark-color, 0.1);
    .signup-tab {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;

      a {
        color: darken($base-color, 10%);
        padding: 0.5rem 0;
        margin-right: 1rem;
        font-size: 0.8rem;
        border-bottom: 2px solid transparent;
        &.active {
          font-weight: 600;
          border-color: $primary-color;
          color: $primary-color;
        }
      }
    }

    .auth-item {
      flex-basis: 50%;
      flex-grow: 0;
      height: 570px;
      padding: 3rem 4rem;
      background-color: $dark-color;;
      .logo {
        font-size: 1.2rem;
        color: $secondary-color;
        max-width: 300px;
        margin: 4rem 0 1rem;
        text-align: center;
      }
      // .logo {
      //   max-width: 200px;
      //   width: 100%;
      //   margin: 4rem 0 1rem;
      // }
      .tagline {
        font-size: 2rem;
        font-weight: 800;
        line-height: 40px;
      }
      &.content {
        position: relative;
        display: flex;
        flex-direction: column;
        color: $light-color;
        .copyright {
          position: absolute;
          bottom: 2rem;
          font-size: 0.7rem;
        }
      }
      &.form {
        background-color: $light-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .form-group{
          margin-bottom: 0.5rem;
        }
        .login-btn {
          border: 1px solid darken($base-color, 10%);
          height: 40px;
          border-radius: 3px;
          display: inline-block;
          padding-top: 5px;
          margin: 10px 0;
          img {
            width: 170px;
            vertical-align: middle;
          }
        }
        .create-account {
          p {
            color: darken($base-color, 30%);
          }
        }
      }
    }
  }
}
